<body { 
    background-color: antiquewhite;
    text-align: center;
    margin: 20px;
    color: aliceblue;
    font-family:
}
<header {
text-align: center;
}
<p {
    color: cornsilk;
}
.lua { 
 font-style: inherit;
 margin: 50%
}
.sol { 
    font-size: ;
}